.wrapper01{
    background-color: grey;
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: end;
}

.wrapper01 div{
    width: 100px;
    height: 100px;
    background-color: salmon;
}

.wrapper02{
    display: flex;
    flex-wrap: wrap;
}

.wrapper02 div{
    flex: 1;
    height: 300px;
    background-color: violet;
}

.wrapper02 div:nth-child(even){
    background-color: blue;
    flex: 3;
}