.wrapper01{
    display: grid;
    background-color: grey;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.wrapper01 div{
    background-color: blueviolet;
}

.wrapper01 div:nth-child(even){
    background-color: yellow;
}

/* Wrapper02 */
.wrapper02{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: red;
}

.wrapper02 div{
    background-color: green;
}

.wrapper02 div:nth-child(even){
    background-color: goldenrod;
}

.wrapper02 .boxxx1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.wrapper02 .boxxx2{
    grid-column-start: 3;
    grid-column-end: 7;
}

.wrapper02 .boxxx6{
    grid-column: 4/7;
}

.wrapper03{
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.wrapper03 div{
    background-color: brown;
}

.wrapper03 div:nth-child(even){
    background-color: blue;
}

.boxxx01{
    grid-column: 1/4;
}

.boxxx02{
    grid-column: 4/10;
}

.boxxx03{
    grid-column: 1/5;
    grid-row: 2/4;
}



/* Mobile */
@media only screen and (min-width: 0px) {
    .productimage{
        display: grid;
        
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .mainimage{
        grid-column: 1/4;
        display: flex;
        justify-content: center;
    }

    .productimage div{
        background-color: grey;
    }
}

/* Tablet & Desktop */
@media only screen and (min-width: 468px) {
    .productimage{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .mainimage{
        grid-row: 1/4;
    }
}