@media only screen and (min-width: 0px) {
    h1{
      color: red
    }
  }

@media only screen and (min-width: 469px) {
    h1{
        color: blue;
    }
}

@media only screen and (min-width: 769px) {
    h1{
      color: black
    }
}